* {
  font-family: "Jua", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 30px;
}

#navbar {
  display: flex;
  background-color: lightblue;
}

#navbar li {
  margin: 10px;
  list-style-type: none;
}

#navbar li a {
  color: white;
}

footer {
  background-color: lightblue;
  color: white;
}

#sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}
